In [24]:
import re
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, explode, split, regexp_replace
from pyspark.sql.functions import col, split, explode, regexp_replace


from pyspark.sql.functions import lit, col, when
from pyspark.sql.types import StringType
from pyspark.ml.feature import FeatureHasher
import os
from pyspark.sql.functions import col, when, lit, isnan
from pyspark.sql.functions import lit, nanvl, isnan, when, avg
import category_encoders as ce
import pandas as pd
import itertools
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from category_encoders import CatBoostEncoder
import pickle
from pyspark.sql import SparkSession
from pyspark.sql.functions import pandas_udf, PandasUDFType
from pyspark.sql.types import DoubleType, ArrayType
import numpy as np
import pandas as pd
import sklearn
sklearn.set_config(transform_output='pandas')
from pyspark.sql.functions import array
from pyspark.sql import functions as F
from pyspark.sql import SparkSession, types as T
from pyspark.sql.functions import udf
from pyspark.sql.functions import round, sum, avg, count, min, max
from ast import literal_eval

from pyspark.sql import DataFrame

from pyspark.sql import functions as sf
from pyspark.sql.functions import udf
from pyspark.sql.types import ArrayType, DoubleType
import pyspark
from pyspark.sql import SparkSession
# from geospark.register import upload_jars
# from geospark.register import GeoSparkRegistrator
# from geospark.core.SpatialRDD import PolygonRDD, PointRDD
# from geospark.core.enums import FileDataSplitter
# from geospark.core.enums import IndexType
# from geospark.core.geom.envelope import Envelope
# from geospark.core.spatialOperator import RangeQuery
# from geospark.core.formatMapper.shapefileParser import ShapefileReader
# from geospark.sql.types import GeometryType
# from geospark.register import sparkJVM
# import re
# upload_jars()
#
#
#
# spark = SparkSession.builder.appName("Spark_v1")    .config("spark.default.parallelism", 176*3) \
#     .config("spark.sql.shuffle.partitions", 176*3) \
#     .config("spark.executor.memory", "50g") \
#     .config("spark.executor.cores", "5") \
#     .config("spark.driver.memory", "10g") \
#     .config("spark.driver.maxResultSize", "1300g") \
#     .getOrCreate()
import os

# setup arguments
#os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.apache.spark:spark-sql-kafka-0-10_2.11:2.4.0'

# initialize spark
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, BooleanType


ram = 16

spark = SparkSession. \
    builder. \
    appName('spark_first_run') \
    .config("spark.executor.memory", f"{ram}g") \
    .config("spark.driver.maxResultSize", f"{ram}g") \
    .config("spark.driver.memory", f"{ram}g") \
    .config("spark.executor.memoryOverhead", f"{ram}g") \
    .config("spark.sql.debug.maxToStringFields", "100000") \
    .getOrCreate()


#    .config("spark.driver.memory", "10g") \

#    .config("spark.executor.memoryOverhead", "10g") \




# Register Sedona functions to Spark


from pyspark.sql.functions import regexp_extract




from scipy.stats import t
from pyspark.sql import SparkSession

from pyspark.sql.functions import udf, lit

import pandas as pd
from ast import literal_eval
import json
from pyspark.sql.functions import udf
import pandas as pd
import shutil
from pyspark.sql.functions import udf
from pyspark.sql.functions import udf, explode
from pyspark.sql.types import ArrayType, StructType, StructField, FloatType
from pyspark.sql.functions import desc
from time import sleep
from pyspark.sql import Row
#from pyspark.sql.functions import min, max
from pyspark.sql.functions import col
from pyspark.sql.functions import split, explode, lower, trim
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, count, col
from pyspark.sql import SparkSession
from pyspark.sql.functions import row_number
from pyspark.sql.window import Window
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql.functions import monotonically_increasing_id, concat, col, lit, cast
from pyspark.sql import SparkSession
from pyspark.sql.functions import collect_list, udf
from pyspark.sql.types import DoubleType
from pyspark.sql import SparkSession
from pyspark.sql.functions import initcap
import re
import subprocess

# This is regex train notebook

### 1. Uploading data

In [25]:
# Function to read a text file and find web links in it using regular expressions
def find_links_in_text_file(file_path):
    # Open the text file for reading
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()

    # Pattern for finding web links
    pattern = r'https?://(?:[-\w.]|(?:%[\da-fA-F]{2}))+'

    # Find all web links in the text using regular expression
    links = re.findall(pattern, text)

    # Create a Pandas DataFrame to store the found links
    df = pd.DataFrame(links, columns=['Link'])

    return df

# Path to the text file
file_path = 'C:/Users/Peter/DataspellProjects/suetin/regex_train/data/_chat.txt'

# Get a DataFrame with the found web links
links_df = find_links_in_text_file(file_path)

# Display the first few rows of the DataFrame
print(links_df.head())

                                         Link
0                      https://www.scribd.com
1               https://www.scrdownloader.com
2  http://bemowsap08v.corp.kpmgconsulting.com
3                        https://help.sap.com
4                        https://help.sap.com

In [26]:
links_df

                                           Link
0                        https://www.scribd.com
1                 https://www.scrdownloader.com
2    http://bemowsap08v.corp.kpmgconsulting.com
3                          https://help.sap.com
4                          https://help.sap.com
..                                          ...
548                   https://chrome.google.com
549                       https://blogs.sap.com
550                    https://pmllc.omeclk.com
551                       https://blogs.sap.com
552   https://bearingpointrus-my.sharepoint.com

[553 rows x 1 columns]

In [27]:
links_df = links_df.rename(columns={'Ссылка':'link'})
links_df

                                           Link
0                        https://www.scribd.com
1                 https://www.scrdownloader.com
2    http://bemowsap08v.corp.kpmgconsulting.com
3                          https://help.sap.com
4                          https://help.sap.com
..                                          ...
548                   https://chrome.google.com
549                       https://blogs.sap.com
550                    https://pmllc.omeclk.com
551                       https://blogs.sap.com
552   https://bearingpointrus-my.sharepoint.com

[553 rows x 1 columns]

In [28]:
links_df['Link']

0                          https://www.scribd.com
1                   https://www.scrdownloader.com
2      http://bemowsap08v.corp.kpmgconsulting.com
3                            https://help.sap.com
4                            https://help.sap.com
                          ...
548                     https://chrome.google.com
549                         https://blogs.sap.com
550                      https://pmllc.omeclk.com
551                         https://blogs.sap.com
552     https://bearingpointrus-my.sharepoint.com
Name: Link, Length: 553, dtype: object

### 2.1 Finding all site names in links

In [29]:
prefixes = ['www','help','chat']
pattern = fr'https://({"|".join(prefixes)}|)\.?([a-zA-Z]+)(\.[a-zA-Z]*)'
def find_pattern(text):
    result = re.search(pattern, text)
    if result:
        return result.group(2)
    else:
        return None

links_df_new = links_df.apply(lambda x: find_pattern(x['Link']), axis=1)
links_df_new

0             scribd
1      scrdownloader
2               None
3                sap
4                sap
           ...
548           chrome
549            blogs
550            pmllc
551            blogs
552             None
Length: 553, dtype: object

### finding all unique names

In [30]:
links_df_new.name = 'site'
links_df_new = pd.DataFrame(links_df_new)
links_df_new['site'] = links_df_new['site'].replace('None', None)
links_df_new['site'] = links_df_new['site'].drop_duplicates()

links_df_new = links_df_new[links_df_new['site'] != None]  

links_df_new

              site
0           scribd
1    scrdownloader
2             None
3              sap
4              NaN
..             ...
548         chrome
549            NaN
550          pmllc
551            NaN
552            NaN

[553 rows x 1 columns]

In [31]:
'|'.join(prefixes)

'www|help|chat'

In [32]:
# Pattern to find prefixes before dots
pattern = r'\b(\w+)\.'

text_column = links_df['Link']

def find_pattern(text):
    result = re.search(pattern, text)
    if result:
        return result.group(0)
    else:
        return None

# Find all prefixes before dots in the text using re.findall() method
prefixes = pd.DataFrame(links_df.apply(lambda x: find_pattern(x['Link']), axis=1))
prefixes = prefixes.map(lambda x: x[:-1] if isinstance(x, str) else x)
prefixes = prefixes[0].drop_duplicates()

prefixes

0              www
2      bemowsap08v
3             help
10           blogs
12         answers
          ...
534    publication
543             cp
547            2ip
548         chrome
550          pmllc
Name: 0, Length: 130, dtype: object

\b: Word boundary
(\w+): Group to match one or more word characters (letters, digits, or underscores)
\.: Dot character
This pattern will find all sequences of characters before dots that are prefixes in the text string.

### 2.2 Finding all site names in links without "sap"

In [33]:
# pattern = fr'https://(?!sap)\.?([a-zA-Z]+)(\.[a-zA-Z]*)'
pattern = fr'https?://(?:www\.)?(?!.*\sap)[a-zA-Z0-9-]+\.[a-zA-Z]+(?:\.[a-zA-Z]+)?'
def find_pattern(text):
    result = re.search(pattern, text)
    if result:
        return result.group(0)
    else:
        return None

links_df_not_sap = links_df.apply(lambda x: find_pattern(x['Link']), axis=1)
links_df_not_sap

0                         https://www.scribd.com
1                  https://www.scrdownloader.com
2         http://bemowsap08v.corp.kpmgconsulting
3                           https://help.sap.com
4                           https://help.sap.com
                         ...
548                    https://chrome.google.com
549                        https://blogs.sap.com
550                     https://pmllc.omeclk.com
551                        https://blogs.sap.com
552    https://bearingpointrus-my.sharepoint.com
Length: 553, dtype: object

#### another way to filter "links without sap"

In [34]:
links_df_not_sap_alt = links_df[~links_df['Link'].str.contains('sap', case=False, regex=True)]
links_df_not_sap_alt

                                          Link
0                       https://www.scribd.com
1                https://www.scrdownloader.com
5                https://www.marinetraffic.com
7                      https://www.reartek.com
8                  https://www.tandfonline.com
..                                         ...
546                          https://cp.ews.ru
547                             https://2ip.ru
548                  https://chrome.google.com
550                   https://pmllc.omeclk.com
552  https://bearingpointrus-my.sharepoint.com

[364 rows x 1 columns]

#### one more way to filter "links without sap"

In [35]:
pattern = r'^(?!.*sap).*$'

links_df_not_sap_alt2 = links_df[links_df['Link'].str.match(pattern)]
links_df_not_sap_alt2

                                          Link
0                       https://www.scribd.com
1                https://www.scrdownloader.com
5                https://www.marinetraffic.com
7                      https://www.reartek.com
8                  https://www.tandfonline.com
..                                         ...
546                          https://cp.ews.ru
547                             https://2ip.ru
548                  https://chrome.google.com
550                   https://pmllc.omeclk.com
552  https://bearingpointrus-my.sharepoint.com

[364 rows x 1 columns]

In [36]:
pattern = r'www\.(?!sap)'

In [37]:
# sap_links = links_df[links_df['Ссылка'].str.contains(r'sap')]
# chosen_links = links_df[links_df['link'].str.contains(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+' )]
chosen_links = links_df[links_df['link'].str.contains(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+' )]

chosen_links

KeyError: 'link'

In [ ]:
# df = spark.read.option("header",True).txt('data/_chat.txt')
df=spark.createDataFrame(links_df)
df.printSchema()
df.show()

In [ ]:
r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+'

In [ ]:
links_df

In [ ]:
pattern = r'www\.(?!sap)'

In [38]:
df = spark.createDataFrame(links_df)
df.createOrReplaceTempView("LINKS_DF")

result = spark.sql('''
    SELECT *
    FROM LINKS_DF
    WHERE NOT Link LIKE '%sap%'
''')

# result.write.mode("overwrite").saveAsTable("NEW_TABLE_WO_SAP")
result.show()

+--------------------+
|                Link|
+--------------------+
|https://www.scrib...|
|https://www.scrdo...|
|https://www.marin...|
|https://www.reart...|
|https://www.tandf...|
|        https://t.me|
|https://cloud.bea...|
|  https://medium.com|
|https://cloud.bea...|
|    https://habr.com|
|   http://geojson.io|
|https://www.kinop...|
| https://www.inc.com|
|https://cloud.bea...|
|      https://ria.ru|
|https://cloud.bea...|
|https://www.inter...|
|https://cloud.bea...|
|https://www.dev-w...|
|https://www.banki.ru|
+--------------------+

In [39]:

result = spark.sql('''
    SELECT *
    FROM LINKS_DF
    WHERE NOT Link LIKE '%.com'
''')

result.show()

+--------------------+
|                Link|
+--------------------+
|        https://t.me|
|https://cloud.bea...|
|  https://sapland.ru|
|https://cloud.bea...|
|   http://geojson.io|
|https://www.kinop...|
|https://cloud.bea...|
|      https://ria.ru|
|https://cloud.bea...|
|https://www.inter...|
|http://www.sapnet.ru|
|https://cloud.bea...|
|http://saphub.ice...|
|https://www.banki.ru|
|  https://pro.rbc.ru|
|https://www.kazna...|
|https://cloud.bea...|
|http://saphub.ice...|
|http://saphub.ice...|
|http://saphub.ice...|
+--------------------+

In [40]:
result = spark.sql('''
    SELECT *
    FROM LINKS_DF
    WHERE  Link LIKE '(www\.\.ru)[\s\S]'
''')

result.show()

+----+
|Link|
+----+
+----+

3 ### NEW trainig df

In [41]:


# Случайные данные
np.random.seed(0)
age = np.random.randint(18, 80, 20)
weight = np.random.randint(50, 120, 20)
height = np.random.randint(150, 200, 20)

data = {
    'ID': range(1, 21),
    'Name': ['John', 'Alice', 'Bob', 'Mary', 'David', 'Emily', 'James', 'Sarah', 'Michael', 'Emma',
             'William', 'Olivia', 'Ethan', 'Ava', 'Benjamin', 'Mia', 'Elijah', 'Charlotte', 'Lucas', 'Harper'],
    'Email': ['john@example.com', 'alice@example.com', 'bob@example.com', 'mary@example.com', 'david@example.com',
              'emily@example.com', 'james@example.com', 'sarah@example.com', 'michael@example.com', 'emma@example.com',
              'william@example.com', 'olivia@example.com', 'ethan@example.com', 'ava@example.com', 'benjamin@example.com',
              'mia@example.com', 'elijah@example.com', 'charlotte@example.com', 'lucas@example.com', 'harper@example.com'],
    'Phone': ['555-1234', '555-5678', '555-9101', '555-1121', '555-3141', '555-6171', '555-8191', '555-2322', '555-4342',
              '555-5563', '555-7783', '555-9904', '555-1125', '555-3345', '555-5566', '555-7787', '555-9908', '555-1129',
              '555-3359', '555-5579'],
    'Country': ['USA', 'Canada', 'UK', 'Australia', 'Germany', 'USA', 'Canada', 'UK', 'Australia', 'Germany', 'USA', 'Canada',
                'UK', 'Australia', 'Germany', 'USA', 'Canada', 'UK', 'Australia', 'Germany'],
    'Age': age,
    'Weight': weight,
    'Height': height
}

df = pd.DataFrame(data)
df

,ID,Name,Email,Phone,Country,Age,Weight,Height
0,1,John,john@example.com,555-1234,USA,62,89,181
1,2,Alice,alice@example.com,555-5678,Canada,65,96,160
2,3,Bob,bob@example.com,555-9101,UK,71,87,173
3,4,Mary,mary@example.com,555-1121,Australia,18,75,185
4,5,David,david@example.com,555-3141,Germany,21,59,161
5,6,Emily,emily@example.com,555-6171,USA,77,70,178
6,7,James,james@example.com,555-8191,Canada,21,119,184
7,8,Sarah,sarah@example.com,555-2322,UK,57,97,150
8,9,Michael,michael@example.com,555-4342,Australia,27,114,150
9,10,Emma,emma@example.com,555-5563,Germany,37,99,186
10,11,William,william@example.com,555-7783,USA,39,79,155
11,12,Olivia,olivia@example.com,555-9904,Canada,68,69,188
12,13,Ethan,ethan@example.com,555-1125,UK,54,69,190
13,14,Ava,ava@example.com,555-3345,Australia,41,64,167
14,15,Benjamin,benjamin@example.com,555-5566,Germany,24,89,165
15,16,Mia,mia@example.com,555-7787,USA,42,82,154
16,17,Elijah,elijah@example.com,555-9908,Canada,42,115,191
17,18,Charlotte,charlotte@example.com,555-1129,UK,30,59,192
18,19,Lucas,lucas@example.com,555-3359,Australia,76,107,181
19,20,Harper,harper@example.com,555-5579,Germany,19,82,151

In [42]:
df = spark.createDataFrame(df)
df.createOrReplaceTempView("DATA")
df.printSchema()
df.show()

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Age: long (nullable = true)
 |-- Weight: long (nullable = true)
 |-- Height: long (nullable = true)
+---+---------+--------------------+--------+---------+---+------+------+
| ID|     Name|               Email|   Phone|  Country|Age|Weight|Height|
+---+---------+--------------------+--------+---------+---+------+------+
|  1|     John|    john@example.com|555-1234|      USA| 62|    89|   181|
|  2|    Alice|   alice@example.com|555-5678|   Canada| 65|    96|   160|
|  3|      Bob|     bob@example.com|555-9101|       UK| 71|    87|   173|
|  4|     Mary|    mary@example.com|555-1121|Australia| 18|    75|   185|
|  5|    David|   david@example.com|555-3141|  Germany| 21|    59|   161|
|  6|    Emily|   emily@example.com|555-6171|      USA| 77|    70|   178|
|  7|    James|   james@example.com|555-8191|   Canada| 21|   119|   184|
|  8|    Sarah|   sarah@example.com|555-2322|       UK| 57|    97|   150|
|  9|  Michael| michael@example.com|555-4342|Australia| 27|   114|   150|
| 10|     Emma|    emma@example.com|555-5563|  Germany| 37|    99|   186|
| 11|  William| william@example.com|555-7783|      USA| 39|    79|   155|
| 12|   Olivia|  olivia@example.com|555-9904|   Canada| 68|    69|   188|
| 13|    Ethan|   ethan@example.com|555-1125|       UK| 54|    69|   190|
| 14|      Ava|     ava@example.com|555-3345|Australia| 41|    64|   167|
| 15| Benjamin|benjamin@example.com|555-5566|  Germany| 24|    89|   165|
| 16|      Mia|     mia@example.com|555-7787|      USA| 42|    82|   154|
| 17|   Elijah|  elijah@example.com|555-9908|   Canada| 42|   115|   191|
| 18|Charlotte|charlotte@example...|555-1129|       UK| 30|    59|   192|
| 19|    Lucas|   lucas@example.com|555-3359|Australia| 76|   107|   181|
| 20|   Harper|  harper@example.com|555-5579|  Germany| 19|    82|   151|
+---+---------+--------------------+--------+---------+---+------+------+

In [43]:
# 1 SQL Select query
spark.sql('''
    
    SELECT 
        NAME
    FROM DATA
    
''') \
    .show(5)

+-----+
| NAME|
+-----+
| John|
|Alice|
|  Bob|
| Mary|
|David|
+-----+

In [44]:
# 2 Just order by height
spark.sql('''
    
    SELECT 
        *
    FROM 
        DATA
    ORDER BY 
        Height
''') \
    .show(20)

+---+---------+--------------------+--------+---------+---+------+------+
| ID|     Name|               Email|   Phone|  Country|Age|Weight|Height|
+---+---------+--------------------+--------+---------+---+------+------+
|  8|    Sarah|   sarah@example.com|555-2322|       UK| 57|    97|   150|
|  9|  Michael| michael@example.com|555-4342|Australia| 27|   114|   150|
| 20|   Harper|  harper@example.com|555-5579|  Germany| 19|    82|   151|
| 16|      Mia|     mia@example.com|555-7787|      USA| 42|    82|   154|
| 11|  William| william@example.com|555-7783|      USA| 39|    79|   155|
|  2|    Alice|   alice@example.com|555-5678|   Canada| 65|    96|   160|
|  5|    David|   david@example.com|555-3141|  Germany| 21|    59|   161|
| 15| Benjamin|benjamin@example.com|555-5566|  Germany| 24|    89|   165|
| 14|      Ava|     ava@example.com|555-3345|Australia| 41|    64|   167|
|  3|      Bob|     bob@example.com|555-9101|       UK| 71|    87|   173|
|  6|    Emily|   emily@example.com|555-6171|      USA| 77|    70|   178|
|  1|     John|    john@example.com|555-1234|      USA| 62|    89|   181|
| 19|    Lucas|   lucas@example.com|555-3359|Australia| 76|   107|   181|
|  7|    James|   james@example.com|555-8191|   Canada| 21|   119|   184|
|  4|     Mary|    mary@example.com|555-1121|Australia| 18|    75|   185|
| 10|     Emma|    emma@example.com|555-5563|  Germany| 37|    99|   186|
| 12|   Olivia|  olivia@example.com|555-9904|   Canada| 68|    69|   188|
| 13|    Ethan|   ethan@example.com|555-1125|       UK| 54|    69|   190|
| 17|   Elijah|  elijah@example.com|555-9908|   Canada| 42|   115|   191|
| 18|Charlotte|charlotte@example...|555-1129|       UK| 30|    59|   192|
+---+---------+--------------------+--------+---------+---+------+------+

In [45]:
# 3 Order by height and age
spark.sql('''
    
    SELECT 
        *
    FROM 
        DATA
    ORDER BY 
        Height, Age
''') \
    .show(20)

+---+---------+--------------------+--------+---------+---+------+------+
| ID|     Name|               Email|   Phone|  Country|Age|Weight|Height|
+---+---------+--------------------+--------+---------+---+------+------+
|  9|  Michael| michael@example.com|555-4342|Australia| 27|   114|   150|
|  8|    Sarah|   sarah@example.com|555-2322|       UK| 57|    97|   150|
| 20|   Harper|  harper@example.com|555-5579|  Germany| 19|    82|   151|
| 16|      Mia|     mia@example.com|555-7787|      USA| 42|    82|   154|
| 11|  William| william@example.com|555-7783|      USA| 39|    79|   155|
|  2|    Alice|   alice@example.com|555-5678|   Canada| 65|    96|   160|
|  5|    David|   david@example.com|555-3141|  Germany| 21|    59|   161|
| 15| Benjamin|benjamin@example.com|555-5566|  Germany| 24|    89|   165|
| 14|      Ava|     ava@example.com|555-3345|Australia| 41|    64|   167|
|  3|      Bob|     bob@example.com|555-9101|       UK| 71|    87|   173|
|  6|    Emily|   emily@example.com|555-6171|      USA| 77|    70|   178|
|  1|     John|    john@example.com|555-1234|      USA| 62|    89|   181|
| 19|    Lucas|   lucas@example.com|555-3359|Australia| 76|   107|   181|
|  7|    James|   james@example.com|555-8191|   Canada| 21|   119|   184|
|  4|     Mary|    mary@example.com|555-1121|Australia| 18|    75|   185|
| 10|     Emma|    emma@example.com|555-5563|  Germany| 37|    99|   186|
| 12|   Olivia|  olivia@example.com|555-9904|   Canada| 68|    69|   188|
| 13|    Ethan|   ethan@example.com|555-1125|       UK| 54|    69|   190|
| 17|   Elijah|  elijah@example.com|555-9908|   Canada| 42|   115|   191|
| 18|Charlotte|charlotte@example...|555-1129|       UK| 30|    59|   192|
+---+---------+--------------------+--------+---------+---+------+------+

In [46]:
# 4 Average weight and height by age group
spark.sql('''
    
    SELECT 
        ROUND(AGE / 5) * 5 AS age_group
        ,AVG(height) AS avg_height
        ,AVG(weight) AS avg_weight
    FROM 
        DATA
    GROUP BY 
        age_group
    ORDER BY 
        age_group
''') \
    .show(20)

+---------+----------+----------+
|age_group|avg_height|avg_weight|
+---------+----------+----------+
|     20.0|    170.25|     83.75|
|     25.0|     157.5|     101.5|
|     30.0|     192.0|      59.0|
|     35.0|     186.0|      99.0|
|     40.0|    166.75|      85.0|
|     55.0|     170.0|      83.0|
|     60.0|     181.0|      89.0|
|     65.0|     160.0|      96.0|
|     70.0|     180.5|      78.0|
|     75.0|     179.5|      88.5|
+---------+----------+----------+

In [47]:
# 5   average weight and height for age groups  
spark.sql('''


SELECT
    Age,
    AVG(weight) OVER (PARTITION BY Age) AS avg_weight,
    AVG(height) OVER (PARTITION BY Age) AS avg_height
FROM
    DATA

''') \
    .show(20)

+---+----------+----------+
|Age|avg_weight|avg_height|
+---+----------+----------+
| 18|      75.0|     185.0|
| 19|      82.0|     151.0|
| 21|      89.0|     172.5|
| 21|      89.0|     172.5|
| 24|      89.0|     165.0|
| 27|     114.0|     150.0|
| 30|      59.0|     192.0|
| 37|      99.0|     186.0|
| 39|      79.0|     155.0|
| 41|      64.0|     167.0|
| 42|      98.5|     172.5|
| 42|      98.5|     172.5|
| 54|      69.0|     190.0|
| 57|      97.0|     150.0|
| 62|      89.0|     181.0|
| 65|      96.0|     160.0|
| 68|      69.0|     188.0|
| 71|      87.0|     173.0|
| 76|     107.0|     181.0|
| 77|      70.0|     178.0|
+---+----------+----------+

In [48]:
# 6   unique names  
spark.sql('''


    SELECT
       DISTINCT Name 
    FROM
        DATA

''') \
    .show(20)

+---------+
|     Name|
+---------+
|     John|
|      Bob|
|    Alice|
|     Mary|
|    David|
|    Emily|
|    James|
|    Sarah|
|  Michael|
|     Emma|
|  William|
|    Ethan|
|   Olivia|
| Benjamin|
|      Ava|
|      Mia|
|   Elijah|
|Charlotte|
|    Lucas|
|   Harper|
+---------+

In [49]:
# 7   lines with age>30 
spark.sql('''


    SELECT *
    
    FROM
        DATA
    WHERE Age > 30

''') \
    .show(20)

+---+-------+-------------------+--------+---------+---+------+------+
| ID|   Name|              Email|   Phone|  Country|Age|Weight|Height|
+---+-------+-------------------+--------+---------+---+------+------+
|  1|   John|   john@example.com|555-1234|      USA| 62|    89|   181|
|  2|  Alice|  alice@example.com|555-5678|   Canada| 65|    96|   160|
|  3|    Bob|    bob@example.com|555-9101|       UK| 71|    87|   173|
|  6|  Emily|  emily@example.com|555-6171|      USA| 77|    70|   178|
|  8|  Sarah|  sarah@example.com|555-2322|       UK| 57|    97|   150|
| 10|   Emma|   emma@example.com|555-5563|  Germany| 37|    99|   186|
| 11|William|william@example.com|555-7783|      USA| 39|    79|   155|
| 12| Olivia| olivia@example.com|555-9904|   Canada| 68|    69|   188|
| 13|  Ethan|  ethan@example.com|555-1125|       UK| 54|    69|   190|
| 14|    Ava|    ava@example.com|555-3345|Australia| 41|    64|   167|
| 16|    Mia|    mia@example.com|555-7787|      USA| 42|    82|   154|
| 17| Elijah| elijah@example.com|555-9908|   Canada| 42|   115|   191|
| 19|  Lucas|  lucas@example.com|555-3359|Australia| 76|   107|   181|
+---+-------+-------------------+--------+---------+---+------+------+

In [50]:
# 8   total quantity if lines 
spark.sql('''


    SELECT COUNT(*)
    
    FROM
        DATA

''') \
    .show(20)

+--------+
|count(1)|
+--------+
|      20|
+--------+

In [51]:
# 9  lines by country 
spark.sql('''
    SELECT Country, 
        COUNT(*) 
    FROM DATA 
    GROUP BY Country;


''') \
    .show(20)

+---------+--------+
|  Country|count(1)|
+---------+--------+
|      USA|       4|
|       UK|       4|
|   Canada|       4|
|  Germany|       4|
|Australia|       4|
+---------+--------+

In [52]:
# 10  lines with weight more than average
spark.sql('''
   SELECT * 
   FROM DATA
   WHERE Weight > (SELECT AVG(Weight) FROM DATA)
''') \
    .show(20)

+---+--------+--------------------+--------+---------+---+------+------+
| ID|    Name|               Email|   Phone|  Country|Age|Weight|Height|
+---+--------+--------------------+--------+---------+---+------+------+
|  1|    John|    john@example.com|555-1234|      USA| 62|    89|   181|
|  2|   Alice|   alice@example.com|555-5678|   Canada| 65|    96|   160|
|  3|     Bob|     bob@example.com|555-9101|       UK| 71|    87|   173|
|  7|   James|   james@example.com|555-8191|   Canada| 21|   119|   184|
|  8|   Sarah|   sarah@example.com|555-2322|       UK| 57|    97|   150|
|  9| Michael| michael@example.com|555-4342|Australia| 27|   114|   150|
| 10|    Emma|    emma@example.com|555-5563|  Germany| 37|    99|   186|
| 15|Benjamin|benjamin@example.com|555-5566|  Germany| 24|    89|   165|
| 17|  Elijah|  elijah@example.com|555-9908|   Canada| 42|   115|   191|
| 19|   Lucas|   lucas@example.com|555-3359|Australia| 76|   107|   181|
+---+--------+--------------------+--------+---------+---+------+------+

In [53]:
# 11  lines with particular name and country
spark.sql('''
   SELECT * 
   FROM DATA
   WHERE Name='John' AND Country='USA'
''') \
    .show(20)

+---+----+----------------+--------+-------+---+------+------+
| ID|Name|           Email|   Phone|Country|Age|Weight|Height|
+---+----+----------------+--------+-------+---+------+------+
|  1|John|john@example.com|555-1234|    USA| 62|    89|   181|
+---+----+----------------+--------+-------+---+------+------+

In [54]:
# 12   REGEX  
spark.sql('''

    SELECT
        NAME
        
    FROM
        DATA
    WHERE NOT NAME LIKE '%Jo%'

''') \
    .show(20)

+---------+
|     NAME|
+---------+
|    Alice|
|      Bob|
|     Mary|
|    David|
|    Emily|
|    James|
|    Sarah|
|  Michael|
|     Emma|
|  William|
|   Olivia|
|    Ethan|
|      Ava|
| Benjamin|
|      Mia|
|   Elijah|
|Charlotte|
|    Lucas|
|   Harper|
+---------+

In [56]:
data_base1 = df.copy()
data_base1

AttributeError: 'DataFrame' object has no attribute 'copy'

In [57]:
# 13   REGEX  
spark.sql('''
    SELECT
        NAME 
        ,COUNTRY 
        ,REGEXP_LIKE(COUNTRY, 'da$') AS COUNTRY_DA       
    FROM
        DATA
''') \
    .show(20)

+---------+---------+----------+
|     NAME|  COUNTRY|COUNTRY_DA|
+---------+---------+----------+
|     John|      USA|     false|
|    Alice|   Canada|      true|
|      Bob|       UK|     false|
|     Mary|Australia|     false|
|    David|  Germany|     false|
|    Emily|      USA|     false|
|    James|   Canada|      true|
|    Sarah|       UK|     false|
|  Michael|Australia|     false|
|     Emma|  Germany|     false|
|  William|      USA|     false|
|   Olivia|   Canada|      true|
|    Ethan|       UK|     false|
|      Ava|Australia|     false|
| Benjamin|  Germany|     false|
|      Mia|      USA|     false|
|   Elijah|   Canada|      true|
|Charlotte|       UK|     false|
|    Lucas|Australia|     false|
|   Harper|  Germany|     false|
+---------+---------+----------+

In [58]:
# 14   REGEX  
spark.sql('''
    SELECT
        name 
        ,country 
    FROM
        DATA
    WHERE country REGEXP 'da$'
''') \
    .show(20)

+------+-------+
|  name|country|
+------+-------+
| Alice| Canada|
| James| Canada|
|Olivia| Canada|
|Elijah| Canada|
+------+-------+

In [59]:
text = """Skip to ContentSkip to SearchHome
Help Center

Database Development Guide

Search

Database
Oracle
Oracle Database
Release 21
Database Development Guide



Expand
11 Using Regular Expressions in Database Applications
This chapter describes regular expressions and explains how to use them in database applications.

Topics:

Overview of Regular Expressions

Oracle SQL Support for Regular Expressions

Oracle SQL and POSIX Regular Expression Standard

Operators in Oracle SQL Regular Expressions

Using Regular Expressions in SQL Statements: Scenarios

See Also:

Oracle Database Globalization Support Guide for information about using SQL regular expression functions in a multilingual environment

Oracle Regular Expressions Pocket Reference by Jonathan Gennick, O'Reilly & Associates

Mastering Regular Expressions by Jeffrey E. F. Friedl, O'Reilly & Associates

11.1 Overview of Regular Expressions
A regular expression specifies a search pattern, using metacharacters (which are, or belong to, operators) and character literals (described in Oracle Database SQL Language Reference).

The search pattern can be complex. For example, this regular expression matches any string that begins with either f or ht, followed by tp, optionally followed by s, followed by the colon (:):


Copy
(f|ht)tps?:
The metacharacters (which are also operators) in the preceding example are the parentheses, the pipe symbol (|), and the question mark (?). The character literals are f, ht, tp, s, and the colon (:).

Parentheses group multiple pattern elements into a single element. The pipe symbol (|) indicates a choice between the elements on either side of it, f and ht. The question mark (?) indicates that the preceding element, s, is optional. Thus, the preceding regular expression matches these strings:

http:

https:

ftp:

ftps:

Regular expressions are a powerful text-processing component of the programming languages Java and PERL. For example, a PERL script can read the contents of each HTML file in a directory into a single string variable and then use a regular expression to search that string for URLs. This robust pattern-matching functionality is one reason that many application developers use PERL.

11.2 Oracle SQL Support for Regular Expressions
Oracle SQL support for regular expressions lets application developers implement complex pattern-matching logic in the database, which is useful for these reasons:

By centralizing pattern-matching logic in the database, you avoid intensive string processing of SQL results sets by middle-tier applications.

For example, life science customers often rely on PERL to do pattern analysis on bioinformatics data stored in huge databases of DNA and proteins. Previously, finding a match for a protein sequence such as [AG].{4}GK[ST] was handled in the middle tier. The SQL regular expression functions move the processing logic closer to the data, thereby providing a more efficient solution.

By using server-side regular expressions to enforce constraints, you avoid duplicating validation logic on multiple clients.

Oracle SQL supports regular expressions with the pattern-matching condition and functions summarized in Table 11-1. Each pattern matcher searches a given string for a given pattern (described with a regular expression), and each has the pattern-matching options described in Table 11-2. The functions have additional options (for example, the character position at which to start searching the string for the pattern).

Table 11-1 Oracle SQL Pattern-Matching Condition and Functions

Name	Description
REGEXP_LIKE

Condition that can appear in the WHERE clause of a query, causing the query to return rows that match the given pattern.

Example: This WHERE clause identifies employees with the first name of Steven or Stephen:

WHERE REGEXP_LIKE((hr.employees.first_name, '^Ste(v|ph)en$')
REGEXP_COUNT

Function that returns the number of times the given pattern appears in the given string.

Example: This function invocation returns the number of times that e (but not E) appears in the string 'Albert Einstein', starting at character position 7:

REGEXP_COUNT('Albert Einstein', 'e', 7, 'c')
(The returned value is 1, because the c option specifies case-sensitive matching.)

REGEXP_INSTR

Function that returns an integer that indicates the starting position of the given pattern in the given string. Alternatively, the integer can indicate the position immediately following the end of the pattern.

Example: This function invocation returns the starting position of the first valid email address in the column hr.employees.email:

REGEXP_INSTR(hr.employees.email, '\w+@\w+(\.\w+)+')
If the returned value is greater than zero, then the column contains a valid email address.

REGEXP_REPLACE

Function that returns the string that results from replacing occurrences of the given pattern in the given string with a replacement string.

Example: This function invocation puts a space after each character in the column hr.countries.country_name:

REGEXP_REPLACE(hr.countries.country_name, '(.)', '\1 ')
REGEXP_SUBSTR

Function that is like REGEXP_INSTR except that instead of returning the starting position of the given pattern in the given string, it returns the matching substring itself.

Example: This function invocation returns 'Oracle' because the x option ignores the spaces in the pattern:

REGEXP_SUBSTR('Oracle 2010', 'O r a c l e', 1, 1, 'x')
Table 11-2 describes the pattern-matching options that are available to each pattern matcher in Table 11-1.

Table 11-2 Oracle SQL Pattern-Matching Options for Condition and Functions

Pattern-Matching Option	Description	Example
i

Specifies case-insensitive matching.

This function invocation returns 3:

REGEXP_COUNT('Albert Einstein', 'e', 'i')
c

Specifies case-sensitive matching.

This function invocation returns 2:

REGEXP_COUNT('Albert Einstein', 'e', 'c')
n

Allows the Dot operator (.) to match the newline character, which is not the default (see Table 11-3).

In this function invocation, the string and search pattern match only because the n option is specified:

REGEXP_SUBSTR('a'||CHR(10)||'d', 'a.d', 1, 1, 'n')
m

Specifies multiline mode, where a newline character inside a string terminates a line. The string can contain multiple lines.

Multiline mode affects POSIX operators Beginning-of-Line Anchor (^) and End-of-Line Anchor ($) (described in Table 11-3) but not PERL-influenced operators \A, \Z, and \z (described in Table 11-5).

This function invocation returns ac:

REGEXP_SUBSTR('ab'||CHR(10)||'ac', '^a.', 1, 2, 'm')
x

Ignores whitespace characters in the search pattern. By default, whitespace characters match themselves.

This function invocation returns abcd:

REGEXP_SUBSTR('abcd', 'a b c d', 1, 1, 'x')
See Also:

Oracle Database SQL Language Reference fore more information about single row functions

11.3 Oracle SQL and POSIX Regular Expression Standard
Oracle SQL implementation of regular expressions conforms to these standards:

IEEE Portable Operating System Interface (POSIX) standard draft 1003.2/D11.2

Oracle SQL follows exactly the syntax and matching semantics for regular expression operators as defined in the POSIX standard for matching ASCII (English language) data.

Unicode Regular Expression Guidelines of the Unicode Consortium

Oracle SQL extends regular expression support beyond the POSIX standard in these ways:

Extends the matching capabilities for multilingual data

Supports some commonly used PERL regular expression operators that are not included in the POSIX standard but do not conflict with it (for example, character class shortcuts and the nongreedy modifier (?))

See Also:

POSIX Operators in Oracle SQL Regular Expressions

POSIX Regular Expressions Specification

Oracle SQL Multilingual Extensions to POSIX Standard

Oracle SQL PERL-Influenced Extensions to POSIX Standard

11.4 Operators in Oracle SQL Regular Expressions
Oracle SQL supports a set of common operators (composed of metacharacters) used in regular expressions.

Caution:The interpretation of metacharacters differs between tools that support regular expressions. If you are porting regular expressions from another environment to Oracle Database, ensure that Oracle SQL supports their syntax and interprets them as you expect.
Topics:

POSIX Operators in Oracle SQL Regular Expressions

Oracle SQL Multilingual Extensions to POSIX Standard

Oracle SQL PERL-Influenced Extensions to POSIX Standard

11.4.1 POSIX Operators in Oracle SQL Regular Expressions
Table 11-3 summarizes the POSIX operators defined in the POSIX standard Extended Regular Expression (ERE) syntax. Oracle SQL follows the exact syntax and matching semantics for these operators as defined in the POSIX standard for matching ASCII (English language) data. Any differences in action between Oracle SQL and the POSIX standard are noted in the Description column.

Table 11-3 POSIX Operators in Oracle SQL Regular Expressions

Operator Syntax	Names	Description	Examples
.

Any Character

Dot

Matches any character in the database character set, including the newline character if you specify matching option n (see Table 11-2).

The Linux, UNIX, and Windows platforms recognize the newline character as the linefeed character (\x0a).

The Macintosh platforms recognize the newline character as the carriage return character (\x0d).

Note: In the POSIX standard, this operator matches any English character except NULL and the newline character.

The expression a.b matches the strings abb, acb, and adb, but does not match acc.

+

One or More

Plus Quantifier

Matches one or more occurrences of the preceding subexpression (greedyFoot 1).

The expression a+ matches the strings a, aa, and aaa, but does not match ba or ab.

*

Zero or More

Star Quantifier

Matches zero or more occurrences of the preceding subexpression (greedyFoot 1).

The expression ab*c matches the strings ac, abc, and abbc, but does not match abb or bbc.

?

Zero or One

Question Mark Quantifier

Matches zero or one occurrences of the preceding subexpression (greedyFoot 1).

The expression ab?c matches the strings abc and ac, but does not match abbc or adc.

{m}

Interval

Exact Count

Matches exactly m occurrences of the preceding subexpression.

The expression a{3} matches the string aaa, but does not match aa.

{m,}

Interval

At-Least Count

Matches at least m occurrences of the preceding subexpression (greedyFoot 1).

The expression a{3,} matches the strings aaa and aaaa, but does not match aa.

{m,n}

Interval

Between Count

Matches at least m but not more than n occurrences of the preceding subexpression (greedyFoot 1).

The expression a{3,5} matches the strings aaa, aaaa, and aaaaa, but does not match aa or aaaaaa.

[char...]

Matching Character List

Matches any single character in the list within the brackets. In the list, all operators except these are treated as literals:

Range operator: -

POSIX character class: [: :]

POSIX collation element: [. .]

POSIX character equivalence class: [= =]

A dash (-) is a literal when it occurs first or last in the list, or as an ending range point in a range expression, as in [#--]. A right bracket (]) is treated as a literal if it occurs first in the list.

Note: In the POSIX standard, a range includes all collation elements between the start and end of the range in the linguistic definition of the current locale. Thus, ranges are linguistic rather than byte value ranges; the semantics of the range expression are independent of the character set. In Oracle Database, the linguistic range is determined by the NLS_SORT initialization parameter.

The expression [abc] matches the first character in the strings all, bill, and cold, but does not match any characters in doll.

[^char...]

Nonmatching Character List

Matches any single character not in the list within the brackets.

For information about operators and ranges in the character list, see the description of the Matching Character List operator.

The expression [^abc]def matches the string xdef, but not adef, bdef, or cdef.

The expression [^a-i]x matches the string jx, but does not match ax, fx, or ix.

[alt1 |alt2]

Or

Matches either alternative.

The expression a|b matches the character a or b.

(expr)

Subexpression

Grouping

Treats the expression within the parentheses as a unit. The expression can be a string or a complex expression containing operators.

You can refer to a subexpression in a back reference.

The expression (abc)?def matches the strings abcdef and def, but does not match abcdefg or xdef.

\n

Back Reference

Matches the nth preceding subexpression, where n is an integer from 1 through 9. A back reference counts subexpressions from left to right, starting with the opening parenthesis of each preceding subexpression. The expression is invalid if fewer than n subexpressions precede \n.

A back reference lets you search for a repeated string without knowing what it is.

For the REGEXP_REPLACE function, Oracle SQL supports back references in both the regular expression pattern and the replacement string.

The expression (abc|def)xy\1 matches the strings abcxyabc and defxydef, but does not match abcxydef or abcxy.

The expression ^(.*)\1$ matches a line consisting of two adjacent instances of the same string.

\

Escape Character

Treats the subsequent character as a literal.

A backslash (\) lets you search for a character that would otherwise be treated as a metacharacter. Use consecutive backslashes (\\) to match the backslash literal itself.

The expression abc\+def matches the string abc+def, but does not match abcdef or abccdef.

^

Beginning-of-Line Anchor

Default mode: Matches the beginning of a string.

Multiline mode:Foot 2 Matches the beginning of any line the source string.

The expression ^def matches the substring def in the string defghi but not in the string abcdef.

$

End-of-Line Anchor

Default mode: Matches the end of a string.

Multiline mode:Foot 2 Matches the end of any line the source string.

The expression def$ matches the substring def in the string abcdef but not in the string defghi.

[:class:]

POSIX Character Class

Matches any character in the specified POSIX character class (such as uppercase characters, digits, or punctuation characters).

Note: In English regular expressions, range expressions often indicate a character class. For example, [a-z] indicates any lowercase character. This convention is not useful in multilingual environments, where the first and last character of a given character class might not be the same in all languages.

The expression [:upper:]+, which specifies one or more consecutive uppercase characters, matches the substring DEF in the string abcDEFghi, but does not match any substring in abcdefghi.

[.element.]

POSIX Collating Element Operator

Specifies a collating element defined in the current locale. The NLS_SORT initialization parameter determines the supported collation elements.

This syntax lets you use a multicharacter collating element where otherwise only single-character collating elements are allowed. For example, you can ensure that the collating element ch, when defined in a locale such as Traditional Spanish, is treated as one character in operations that depend on the ordering of characters.

The expression [.ch.], which specifies the collating element ch, matches ch in the string chabc, but does not match any substring in cdefg.

The expression [a-[.ch.]] specifies the range from a through ch.

[=char=]

POSIX Character Equivalence Class

Matches all characters that belong to the same POSIX character equivalence class as the specified character, in the current locale.

This syntax must appear within a character list; that is, it must be nested within the brackets for a character list.

Character equivalents depend on how canonical rules are defined for your database locale. For details, see Oracle Database Globalization Support Guide.

The expression [[=n=]], which specifies characters equivalent to n in a Spanish locale, matches both N and ñ in the string El Niño.

Footnote 1

A greedy operator matches as many occurrences as possible while allowing the rest of the match to succeed. To make the operator nongreedy, follow it with the nongreedy modifier (?) (see Table 11-5).

Footnote 2

Specify multiline mode with the pattern-matching option m, described in Table 11-2.

11.4.2 Oracle SQL Multilingual Extensions to POSIX Standard
When applied to multilingual data, Oracle SQL POSIX operators extend beyond the matching capabilities specified in the POSIX standard.

Table 11-4 shows, for each POSIX operator, which POSIX standards define its syntax and whether Oracle SQL extends its semantics for handling multilingual data. The POSIX standards are Basic Regular Expression (BRE) and Extended Regular Expression (ERE).

Table 11-4 POSIX Operators and Multilingual Operator Relationships

Operator	POSIX BRE Syntax	POSIX ERE Syntax	Multilingual Enhancement
\

Yes

Yes

--

*

Yes

Yes

--

+

--

Yes

--

?

--

Yes

--

|

--

Yes

--

^

Yes

Yes

Yes

$

Yes

Yes

Yes

.

Yes

Yes

Yes

[ ]

Yes

Yes

Yes

( )

Yes

Yes

--

{m}

Yes

Yes

--

{m,}

Yes

Yes

--

{m,n}

Yes

Yes

--

\n

Yes

Yes

Yes

[..]

Yes

Yes

Yes

[::]

Yes

Yes

Yes

[==]

Yes

Yes

Yes

Multilingual data might have multibyte characters. Oracle Database lets you enter multibyte characters directly (if you have a direct input method) or use functions to compose them. You cannot use the Unicode hexadecimal encoding value of the form x. Oracle Database evaluates the characters based on the byte values used to encode the character, not the graphical representation of the character.

11.4.3 Oracle SQL PERL-Influenced Extensions to POSIX Standard
Oracle SQL supports some commonly used PERL regular expression operators that are not included in the POSIX standard but do not conflict with it.

Table 11-5 summarizes the PERL-influenced operators that Oracle SQL supports.

Caution:PERL character class matching is based on the locale model of the operating system, whereas Oracle SQL regular expressions are based on the language-specific data of the database. In general, you cannot expect a regular expression involving locale data to produce the same results in PERL and Oracle SQL.
Table 11-5 PERL-Influenced Operators in Oracle SQL Regular Expressions

Operator Syntax	Description	Examples
\d

Matches a digit character.

Equivalent to POSIX expression [[:digit:]].

The expression ^\(\d{3}\) \d{3}-\d{4}$ matches (650) 555-0100 but does not match 650-555-0100.

\D

Matches a nondigit character.

Equivalent to POSIX expression [^[:digit:]].

The expression \w\d\D matches b2b and b2_ but does not match b22.

\w

Matches a word character (that is, an alphanumeric or underscore (_) character).

Equivalent to POSIX expression [[:alnum:]_].

The expression \w+@\w+(\.\w+)+ matches the string jdoe@company.co.uk but does not match jdoe@company.

\W

Matches a nonword character.

Equivalent to POSIX expression [^[:alnum:]_].

The expression \w+\W\s\w+ matches the string to: bill but does not match to bill.

\s

Matches a whitespace character.

Equivalent to POSIX expression [[:space:]].

The expression \(\w\s\w\s\) matches the string (a b ) but does not match (ab) or (a,b.).

\S

Matches a nonwhitespace character.

Equivalent to POSIX expression [^[:space:]].

The expression \(\w\S\w\S\) matches the strings (abde) and (a,b.) but does not match (a b d e).

\A

Matches the beginning of a string, in either single-line or multiline mode.

Not equivalent to POSIX operator ^.

The expression \AL matches only the first L in the string Line1\nLine2\n (where \n is the newline character), in either single-line or multiline mode.

\Z

Matches the end of a string, in either single-line or multiline mode.

Not equivalent to POSIX operator $.

The expression \s\Z matches the last space in the string L i n e \n (where \n is the newline character), in either single-line or multiline mode.

\z

Matches the end of a string, in either single-line or multiline mode.

Not equivalent to POSIX operator $.

The expression \s\z matches the newline character (\n) in the string L i n e \n, in either single-line or multiline mode.

+?

Matches one or more occurrences of the preceding subexpression (nongreedyFoot 3).

The expression \w+?x\w matches abxc in the string abxcxd (and the greedy expression \w+x\w matches abxcxd).

*?

Matches zero or more occurrences of the preceding subexpression (nongreedyFoot 3). Matches the empty string whenever possible.

The expression \w*?x\w matches xa in the string xaxbxc (and the greedy expression \w*x\w matches xaxbxc.

??

Matches zero or one occurrences of the preceding subexpression (nongreedyFoot 3). Matches the empty string whenever possible.

The expression a??aa matches aa in the string aaaa (and the greedy expression a?aa matches aaa).

{m}?

Matches exactly m occurrences of the preceding subexpression (nongreedyFoot 3).

The expression (a|aa){2}? matches aa in the string aaaa (and the greedy expression (a|aa){2} matches aaaa.

Both the expression b{2}? and the greedy expression b{2} match bb in the string bbbb.

{m,}?

Matches at least m occurrences of the preceding subexpression (nongreedyFoot 3).

The expression a{2,}? matches aa in the string aaaaa (and the greedy expression a{2,} matches aaaaa.

{m,n}?

Matches at least m but not more than n occurrences of the preceding subexpression (nongreedyFoot 3). {0,n}? matches the empty string whenever possible.

The expression a{2,4}? matches aa in the string aaaaa (and the greedy expression a{2,4} matches aaaa.

Footnote 3

A nongreedy operator matches as few occurrences as possible while allowing the rest of the match to succeed. To make the operator greedy, omit the nongreedy modifier (?).

11.5 Using Regular Expressions in SQL Statements: Scenarios
Scenarios:

Using a Constraint to Enforce a Phone Number Format

Example: Enforcing a Phone Number Format with Regular Expressions

Example: Inserting Phone Numbers in Correct and Incorrect Formats

Using Back References to Reposition Characters

11.5.1 Using a Constraint to Enforce a Phone Number Format
Regular expressions are useful for enforcing constraints—for example, to ensure that phone numbers are entered into the database in a standard format.

Table 11-6 explains the elements of the regular expression in Example: Enforcing a Phone Number Format with Regular Expressions.

Table 11-6 Explanation of the Regular Expression Elements

Regular Expression Element	Matches . . .
^

The beginning of the string.

\(

A left parenthesis. The backslash (\) is an escape character that indicates that the left parenthesis after it is a literal rather than a subexpression delimiter.

\d{3}

Exactly three digits.

\)

A right parenthesis. The backslash (\) is an escape character that indicates that the right parenthesis after it is a literal rather than a subexpression delimiter.

space character

A space character.

\d{3}

Exactly three digits.

-

A hyphen.

\d{4}

Exactly four digits.

$

The end of the string.

11.5.2 Example: Enforcing a Phone Number Format with Regular Expressions
When you create a table, you can enforce formats with regular expressions.

Example 11-1 creates a contacts table and adds a CHECK constraint to the p_number column to enforce this format model:


Copy
(XXX) XXX-XXXX
Example 11-1 Enforcing a Phone Number Format with Regular Expressions


Copy
DROP TABLE contacts;
CREATE TABLE contacts (
  l_name    VARCHAR2(30),
  p_number  VARCHAR2(30)
  CONSTRAINT c_contacts_pnf
  CHECK (REGEXP_LIKE (p_number, '^\(\d{3}\) \d{3}-\d{4}$'))
);
11.5.3 Example: Inserting Phone Numbers in Correct and Incorrect Formats
The INSERT INTO SQL statement can be used to test how correct and incorrect formats work.

Example 11-2 shows some statements that correctly and incorrectly insert phone numbers into the contacts table.

Example 11-2 Inserting Phone Numbers in Correct and Incorrect Formats

These are correct:


Copy
INSERT INTO contacts (p_number) VALUES('(650) 555-0100');
INSERT INTO contacts (p_number) VALUES('(215) 555-0100');
 
These generate CHECK constraint errors:


Copy
INSERT INTO contacts (p_number) VALUES('650 555-0100');
INSERT INTO contacts (p_number) VALUES('650 555 0100');
INSERT INTO contacts (p_number) VALUES('650-555-0100');
INSERT INTO contacts (p_number) VALUES('(650)555-0100');
INSERT INTO contacts (p_number) VALUES(' (650) 555-0100');
11.5.4 Using Back References to Reposition Characters
A back reference (described in Table 11-3) stores the referenced subexpression in a temporary buffer. Therefore, you can use back references to reposition characters, as in Example 11-3. For an explanation of the elements of the regular expression in Example 11-3, see Table 11-7.

Table 11-7 explains the elements of the regular expression in Example 11-3.

Table 11-7 Explanation of the Regular Expression Elements

Regular Expression Element	Description
^

Matches the beginning of the string.

$

Matches the end of the string.

(\S+)

Matches one or more nonspace characters. The parentheses are not escaped so they function as a grouping expression.

\s

Matches a whitespace character.



Substitutes the first subexpression, that is, the first group of parentheses in the matching pattern.



Substitutes the second subexpression, that is, the second group of parentheses in the matching pattern.



Substitutes the third subexpression, that is, the third group of parentheses in the matching pattern.

,

Inserts a comma character.

Example 11-3 Using Back References to Reposition Characters

Create table and populate it with names in different formats:


Copy
DROP TABLE famous_people;
CREATE TABLE famous_people (names VARCHAR2(20));
INSERT INTO famous_people (names) VALUES ('John Quincy Adams');
INSERT INTO famous_people (names) VALUES ('Harry S. Truman');
INSERT INTO famous_people (names) VALUES ('John Adams');
INSERT INTO famous_people (names) VALUES (' John Quincy Adams');
INSERT INTO famous_people (names) VALUES ('John_Quincy_Adams');
SQL*Plus formatting command:


Copy
COLUMN "names after regexp" FORMAT A20
For each name in the table whose format is "first middle last", use back references to reposition characters so that the format becomes "last, first middle":


Copy
SELECT names "names",
  REGEXP_REPLACE(names, '^(\S+)\s(\S+)\s(\S+)$', '\3, \1 \2')
    AS "names after regexp"
FROM famous_people
ORDER BY "names";
 
Result:


Copy
names                names after regexp
-------------------- --------------------
 John Quincy Adams    John Quincy Adams
Harry S. Truman      Truman, Harry S.
John Adams           John Adams
John Quincy Adams    Adams, John Quincy
John_Quincy_Adams    John_Quincy_Adams
 
5 rows selected.

Previous Page

Next Page





 
11 Using Regular Expressions in Database Applications
11.1 Overview of Regular Expressions
11.2 Oracle SQL Support for Regular Expressions
11.3 Oracle SQL and POSIX Regular Expression Standard
11.4 Operators in Oracle SQL Regular Expressions
11.5 Using Regular Expressions in SQL Statements: Scenarios

© Oracle
About Oracle
Contact Us
Products A-Z
Terms of Use & Privacy
Настройки cookie
Ad Choices
    """

In [60]:
pattern = r'\s+INSERT\s+'

result = re.findall(pattern=pattern,string=text)
len(result)

13

In [61]:
pattern = r'SELECT\s+(\S+\s+)+FROM\s+(\S+)'   

result = re.search(pattern=pattern,string=text)
result.group(2)

'famous_people'

In [62]:
a = {'id':[1,2],'value':['a','b']}
b = {'id':[2,3],'value':['c','d']}
a = pd.DataFrame(a)
b = pd.DataFrame(b)

In [63]:
b

   id value
0   2     c
1   3     d

In [64]:
result = a.merge(b, how="outer", on='id')
result

   id value_x value_y
0   1       a     NaN
1   2       b       c
2   3     NaN       d

In [65]:
result = a.merge(b, how="cross")
result

   id_x value_x  id_y value_y
0     1       a     2       c
1     1       a     3       d
2     2       b     2       c
3     2       b     3       d

In [66]:
data_laptop = pd.read_csv('laptops.csv')
data_laptop

,index,brand,Model,Price,Rating,processor_brand,processor_tier,num_cores,num_threads,ram_memory,...,secondary_storage_type,secondary_storage_capacity,gpu_brand,gpu_type,is_touch_screen,display_size,resolution_width,resolution_height,OS,year_of_warranty
0,1,tecno,Tecno Megabook T1 Laptop (11th Gen Core i3/ 8G...,23990,63,intel,core i3,2,4,8,...,No secondary storage,0,intel,integrated,False,15.6,1920,1080,windows,1
1,2,tecno,Tecno Megabook T1 Laptop (11th Gen Core i7/ 16...,35990,67,intel,core i7,4,8,16,...,No secondary storage,0,intel,integrated,False,15.6,1920,1080,windows,1
2,3,hp,HP Victus 15-fb0157AX Gaming Laptop (AMD Ryzen...,51100,73,amd,ryzen 5,6,12,8,...,No secondary storage,0,amd,dedicated,False,15.6,1920,1080,windows,1
3,4,acer,Acer Extensa EX214-53 Laptop (12th Gen Core i5...,39990,62,intel,core i5,12,16,8,...,No secondary storage,0,intel,integrated,False,14.0,1920,1080,windows,1
4,5,lenovo,Lenovo V15 82KDA01BIH Laptop (AMD Ryzen 3 5300...,28580,62,amd,ryzen 3,4,8,8,...,No secondary storage,0,amd,integrated,False,15.6,1920,1080,windows,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,998,asus,Asus Vivobook Pro 15 M6500QC-HN542WS Laptop (R...,65990,68,amd,ryzen 5,6,12,16,...,No secondary storage,0,nvidia,dedicated,False,15.6,1920,1080,windows,1
987,999,msi,MSI Thin GF63 12VE-070IN Gaming Laptop (12th G...,91990,73,intel,core i7,10,16,16,...,No secondary storage,0,nvidia,dedicated,False,15.6,1920,1080,windows,2
988,1000,asus,Asus Vivobook Go 15 2023 E1504FA-NJ522WS Lapto...,44990,59,amd,ryzen 5,4,8,8,...,No secondary storage,0,amd,integrated,False,15.6,1920,1080,windows,1
989,1001,asus,Asus Zenbook 14 2023 UM3402YA-KP541WS Laptop (...,67990,68,amd,ryzen 5,6,12,16,...,No secondary storage,0,amd,integrated,False,14.0,2560,1600,windows,1
990,1002,hp,HP Chromebook 15a-na0008TU Laptop (Intel Celer...,20990,37,intel,celeron,2,2,4,...,No secondary storage,0,intel,integrated,False,15.6,1366,768,chrome,1

In [67]:
pattern = r'/s+(AMD)/s+'
def find_str(x):
    pattern = r'(\s+\((AMD|Apple|Ryzen)\s+)|(\s+i\d\/|\s)|(Core\s)'
    return re.findall(pattern=pattern,string=x)

def unpacking(x):
    pattern = r'AMD|Apple|Ryzen|i\d'
    x = str(x)
    answer = re.search(pattern=pattern,string=x)
    if answer is None:
        return 0
    else:
        return answer.group(0)

data_laptop['pattern_res'] = data_laptop['Model'].apply(lambda x: find_str(x))
result_line = data_laptop['pattern_res'].apply(lambda x: True if len(x)==0 else False )
data_laptop['pattern_res'] = data_laptop['pattern_res'].apply(lambda x: unpacking(x))
data_laptop[data_laptop['pattern_res'] == 0]

,index,brand,Model,Price,Rating,processor_brand,processor_tier,num_cores,num_threads,ram_memory,...,secondary_storage_capacity,gpu_brand,gpu_type,is_touch_screen,display_size,resolution_width,resolution_height,OS,year_of_warranty,pattern_res
0,1,tecno,Tecno Megabook T1 Laptop (11th Gen Core i3/ 8G...,23990,63,intel,core i3,2,4,8,...,0,intel,integrated,False,15.6,1920,1080,windows,1,0
1,2,tecno,Tecno Megabook T1 Laptop (11th Gen Core i7/ 16...,35990,67,intel,core i7,4,8,16,...,0,intel,integrated,False,15.6,1920,1080,windows,1,0
3,4,acer,Acer Extensa EX214-53 Laptop (12th Gen Core i5...,39990,62,intel,core i5,12,16,8,...,0,intel,integrated,False,14.0,1920,1080,windows,1,0
6,7,infinix,Infinix INBook Y2 Plus Laptop (11th Gen Core i...,34990,56,intel,core i5,4,8,16,...,0,intel,integrated,False,15.6,1920,1080,windows,1,0
7,8,asus,Asus TUF Gaming F15 FX506HF-HN024W Gaming Lapt...,49990,70,intel,core i5,6,12,8,...,0,nvidia,dedicated,False,15.6,1920,1080,windows,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,990,msi,MSI Modern 14 C13M-437IN Laptop (13th Gen Core...,40990,56,intel,core i5,10,12,8,...,0,intel,integrated,False,14.0,1920,1080,windows,1,0
979,991,hp,HP Spectre x360 14-ef0075TU Laptop (12th Gen C...,154999,73,intel,core i7,10,12,16,...,0,intel,integrated,True,13.5,3000,2000,windows,1,0
981,993,msi,MSI Katana 15 B13VFK-296IN Gaming Laptop (13th...,119990,76,intel,core i7,10,16,16,...,0,nvidia,dedicated,False,15.6,1920,1080,windows,2,0
987,999,msi,MSI Thin GF63 12VE-070IN Gaming Laptop (12th G...,91990,73,intel,core i7,10,16,16,...,0,nvidia,dedicated,False,15.6,1920,1080,windows,2,0
990,1002,hp,HP Chromebook 15a-na0008TU Laptop (Intel Celer...,20990,37,intel,celeron,2,2,4,...,0,intel,integrated,False,15.6,1366,768,chrome,1,0

In [68]:
df = spark.createDataFrame(data_laptop)
df.createOrReplaceTempView("DATA")
df.printSchema()
df.show()

root
 |-- index: long (nullable = true)
 |-- brand: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Price: long (nullable = true)
 |-- Rating: long (nullable = true)
 |-- processor_brand: string (nullable = true)
 |-- processor_tier: string (nullable = true)
 |-- num_cores: long (nullable = true)
 |-- num_threads: long (nullable = true)
 |-- ram_memory: long (nullable = true)
 |-- primary_storage_type: string (nullable = true)
 |-- primary_storage_capacity: long (nullable = true)
 |-- secondary_storage_type: string (nullable = true)
 |-- secondary_storage_capacity: long (nullable = true)
 |-- gpu_brand: string (nullable = true)
 |-- gpu_type: string (nullable = true)
 |-- is_touch_screen: boolean (nullable = true)
 |-- display_size: double (nullable = true)
 |-- resolution_width: long (nullable = true)
 |-- resolution_height: long (nullable = true)
 |-- OS: string (nullable = true)
 |-- year_of_warranty: string (nullable = true)
 |-- pattern_res: string (nullable = true)
+-----+-------+--------------------+------+------+---------------+--------------+---------+-----------+----------+--------------------+------------------------+----------------------+--------------------------+---------+----------+---------------+------------+----------------+-----------------+-------+----------------+-----------+
|index|  brand|               Model| Price|Rating|processor_brand|processor_tier|num_cores|num_threads|ram_memory|primary_storage_type|primary_storage_capacity|secondary_storage_type|secondary_storage_capacity|gpu_brand|  gpu_type|is_touch_screen|display_size|resolution_width|resolution_height|     OS|year_of_warranty|pattern_res|
+-----+-------+--------------------+------+------+---------------+--------------+---------+-----------+----------+--------------------+------------------------+----------------------+--------------------------+---------+----------+---------------+------------+----------------+-----------------+-------+----------------+-----------+
|    1|  tecno|Tecno Megabook T1...| 23990|    63|          intel|       core i3|        2|          4|         8|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0|
|    2|  tecno|Tecno Megabook T1...| 35990|    67|          intel|       core i7|        4|          8|        16|                 SSD|                    1024|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0|
|    3|     hp|HP Victus 15-fb01...| 51100|    73|            amd|       ryzen 5|        6|         12|         8|                 SSD|                     512|  No secondary storage|                         0|      amd| dedicated|          false|        15.6|            1920|             1080|windows|               1|        AMD|
|    4|   acer|Acer Extensa EX21...| 39990|    62|          intel|       core i5|       12|         16|         8|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        14.0|            1920|             1080|windows|               1|          0|
|    5| lenovo|Lenovo V15 82KDA0...| 28580|    62|            amd|       ryzen 3|        4|          8|         8|                 SSD|                     512|  No secondary storage|                         0|      amd|integrated|          false|        15.6|            1920|             1080|windows|               1|        AMD|
|    6|  apple|Apple MacBook Air...| 70990|    45|          apple|            m1|        8|          8|         8|                 SSD|                     256|  No secondary storage|                         0|    apple|     apple|          false|        13.3|            2560|             1600|    mac|               1|      Apple|
|    7|infinix|Infinix INBook Y2...| 34990|    56|          intel|       core i5|        4|          8|        16|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0|
|    8|   asus|Asus TUF Gaming F...| 49990|    70|          intel|       core i5|        6|         12|         8|                 SSD|                     512|  No secondary storage|                         0|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|               1|          0|
|    9|     hp|HP 15s-fq5007TU L...| 36990|    60|          intel|       core i3|        6|          8|         8|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0|
|   10|infinix|Infinix Zerobook ...| 59990|    71|          intel|       core i9|       14|         20|        32|                 SSD|                    1024|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0|
|   11|   dell|Dell Inspiron 352...| 34990|    60|          intel|       core i3|        6|          8|         8|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0|
|   12|samsung|Samsung Galaxy Bo...| 64990|    68|          intel|       core i5|       12|         16|        16|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        13.3|            1080|             1920|windows|               1|          0|
|   13|    msi|MSI Thin GF63 12U...| 52990|    71|          intel|       core i5|        8|         12|        16|                 SSD|                     512|  No secondary storage|                         0|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|               2|          0|
|   14|   asus|Asus Vivobook 16X...| 57390|    71|            amd|       ryzen 7|        8|         16|        16|                 SSD|                     512|  No secondary storage|                         0|      amd|integrated|          false|        16.0|            1920|             1200|windows|               1|      Ryzen|
|   15| lenovo|Lenovo IdeaPad Sl...| 47490|    66|          intel|       core i5|        4|          8|        16|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0|
|   16|     hp|HP Omen 16-wf1025...|153990|    85|          intel|       core i7|       20|         28|        16|                 SSD|                    1024|  No secondary storage|                         0|   nvidia| dedicated|          false|        16.1|            2560|             1440|windows|               1|          0|
|   17| lenovo|Lenovo V15 G3 IAP...| 49990|    59|          intel|       core i7|       10|         12|        16|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0|
|   18|   asus|Asus TUF Gaming F...| 75990|    76|          intel|       core i7|        8|         16|        16|                 SSD|                    1024|  No secondary storage|                         0|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|               1|          0|
|   19|     hp|HP Victus 15-fb10...| 55490|    71|            amd|       ryzen 5|        6|         12|        16|                 SSD|                     512|  No secondary storage|                         0|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|               1|        AMD|
|   20|  wings|Wings Nuvobook V1...| 27990|    56|          intel|       core i5|        4|          8|         8|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1080|             1920|windows|               1|          0|
+-----+-------+--------------------+------+------+---------------+--------------+---------+-----------+----------+--------------------+------------------------+----------------------+--------------------------+---------+----------+---------------+------------+----------------+-----------------+-------+----------------+-----------+
only showing top 20 rows

In [69]:
# 15 
spark.sql('''
    
    SELECT 
        processor_tier
        ,price
    
        ,AVG (price) over (PARTITION by processor_tier) AS avg_price

    FROM 
        DATA

''') \
    .show(20)

+--------------+-----+---------+
|processor_tier|price|avg_price|
+--------------+-----+---------+
|       celeron|26990| 23138.55|
|       celeron|15990| 23138.55|
|       celeron|11990| 23138.55|
|       celeron|14990| 23138.55|
|       celeron|17990| 23138.55|
|       celeron|25790| 23138.55|
|       celeron|24990| 23138.55|
|       celeron|19421| 23138.55|
|       celeron|32825| 23138.55|
|       celeron|30199| 23138.55|
|       celeron|20999| 23138.55|
|       celeron|27990| 23138.55|
|       celeron|23990| 23138.55|
|       celeron|16490| 23138.55|
|       celeron|14990| 23138.55|
|       celeron|20990| 23138.55|
|       celeron|28990| 23138.55|
|       celeron|25490| 23138.55|
|       celeron|28190| 23138.55|
|       celeron|27990| 23138.55|
+--------------+-----+---------+

In [70]:
# 16
spark.sql('''
    WITH temp_data AS ( 
        SELECT 
            processor_tier,
            AVG(price) as price_avg
        FROM 
            DATA
        GROUP BY
            processor_tier
    )
    
    SELECT processor_tier, price_avg
    FROM temp_data
    ORDER BY processor_tier
''') \
    .show(20)

+--------------+------------------+
|processor_tier|         price_avg|
+--------------+------------------+
|       celeron|          23138.55|
|       core i3|38412.984251968504|
|       core i5| 66845.15820895522|
|       core i7|117426.29559748428|
|       core i9| 236658.8108108108|
|  core ultra 7|178046.66666666666|
|            m1|           70990.0|
|            m2|124656.66666666667|
|            m3|          261150.0|
|         other|           21855.0|
|       pentium|           30598.0|
|       ryzen 3| 31667.25806451613|
|       ryzen 5| 53927.65467625899|
|       ryzen 7| 86739.02597402598|
|       ryzen 9|165071.66666666666|
+--------------+------------------+

In [76]:
#17
spark.sql('''
    
    SELECT 
    processor_tier,
    price,
    avg_price
    FROM (
        SELECT 
            processor_tier,
            price,
            AVG(price) OVER (PARTITION BY processor_tier) AS avg_price
        FROM 
            DATA
    ) AS subquery
    WHERE avg_price < 200000
''') \
    .show(20)

+--------------+-----+---------+
|processor_tier|price|avg_price|
+--------------+-----+---------+
|       celeron|26990| 23138.55|
|       celeron|15990| 23138.55|
|       celeron|11990| 23138.55|
|       celeron|14990| 23138.55|
|       celeron|17990| 23138.55|
|       celeron|25790| 23138.55|
|       celeron|24990| 23138.55|
|       celeron|19421| 23138.55|
|       celeron|32825| 23138.55|
|       celeron|30199| 23138.55|
|       celeron|20999| 23138.55|
|       celeron|27990| 23138.55|
|       celeron|23990| 23138.55|
|       celeron|16490| 23138.55|
|       celeron|14990| 23138.55|
|       celeron|20990| 23138.55|
|       celeron|28990| 23138.55|
|       celeron|25490| 23138.55|
|       celeron|28190| 23138.55|
|       celeron|27990| 23138.55|
+--------------+-----+---------+

In [77]:
# 18 
spark.sql('''
    WITH data_temp AS (
        SELECT 
            processor_tier
            ,avg(price) AS price_avg       
        FROM DATA
        GROUP BY processor_tier
    )    
    SELECT 
        DATA.*
        ,d.price_avg
    FROM data_temp AS d
    join DATA 
    ON  d.processor_tier == DATA.processor_tier
''') \
    .show(20)

+-----+-------+--------------------+------+------+---------------+--------------+---------+-----------+----------+--------------------+------------------------+----------------------+--------------------------+---------+----------+---------------+------------+----------------+-----------------+-------+----------------+-----------+------------------+
|index|  brand|               Model| Price|Rating|processor_brand|processor_tier|num_cores|num_threads|ram_memory|primary_storage_type|primary_storage_capacity|secondary_storage_type|secondary_storage_capacity|gpu_brand|  gpu_type|is_touch_screen|display_size|resolution_width|resolution_height|     OS|year_of_warranty|pattern_res|         price_avg|
+-----+-------+--------------------+------+------+---------------+--------------+---------+-----------+----------+--------------------+------------------------+----------------------+--------------------------+---------+----------+---------------+------------+----------------+-----------------+-------+----------------+-----------+------------------+
|    2|  tecno|Tecno Megabook T1...| 35990|    67|          intel|       core i7|        4|          8|        16|                 SSD|                    1024|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0|117426.29559748428|
|   16|     hp|HP Omen 16-wf1025...|153990|    85|          intel|       core i7|       20|         28|        16|                 SSD|                    1024|  No secondary storage|                         0|   nvidia| dedicated|          false|        16.1|            2560|             1440|windows|               1|          0|117426.29559748428|
|   17| lenovo|Lenovo V15 G3 IAP...| 49990|    59|          intel|       core i7|       10|         12|        16|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0|117426.29559748428|
|   18|   asus|Asus TUF Gaming F...| 75990|    76|          intel|       core i7|        8|         16|        16|                 SSD|                    1024|  No secondary storage|                         0|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|               1|          0|117426.29559748428|
|   31|    msi|MSI GF63 Thin 11U...| 66780|    76|          intel|       core i7|        8|         16|        16|                 HDD|                    1024|                   SSD|                       256|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|  No information|          0|117426.29559748428|
|   62|     hp|HP Omen 16-u0005T...|147990|    80|          intel|       core i7|       16|         24|        16|                 SSD|                    1024|  No secondary storage|                         0|   nvidia| dedicated|          false|        16.1|            2560|             1600|windows|               1|          0|117426.29559748428|
|   64|   dell|Dell Inspiron 543...| 86490|    66|          intel|       core i7|       12|         16|        16|                 SSD|                    1024|  No secondary storage|                         0|    intel|integrated|          false|        14.0|            1920|             1200|windows|               1|          0|117426.29559748428|
|   65|   asus|Asus Vivobook 15 ...| 60990|    67|          intel|       core i7|       10|         16|        16|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0|117426.29559748428|
|   69|   asus|Asus TUF Gaming F...|108990|    78|          intel|       core i7|       14|         20|        16|                 SSD|                     512|  No secondary storage|                         0|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|               1|          0|117426.29559748428|
|    4|   acer|Acer Extensa EX21...| 39990|    62|          intel|       core i5|       12|         16|         8|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        14.0|            1920|             1080|windows|               1|          0| 66845.15820895522|
|    7|infinix|Infinix INBook Y2...| 34990|    56|          intel|       core i5|        4|          8|        16|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0| 66845.15820895522|
|    8|   asus|Asus TUF Gaming F...| 49990|    70|          intel|       core i5|        6|         12|         8|                 SSD|                     512|  No secondary storage|                         0|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|               1|          0| 66845.15820895522|
|   12|samsung|Samsung Galaxy Bo...| 64990|    68|          intel|       core i5|       12|         16|        16|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        13.3|            1080|             1920|windows|               1|          0| 66845.15820895522|
|   13|    msi|MSI Thin GF63 12U...| 52990|    71|          intel|       core i5|        8|         12|        16|                 SSD|                     512|  No secondary storage|                         0|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|               2|          0| 66845.15820895522|
|   15| lenovo|Lenovo IdeaPad Sl...| 47490|    66|          intel|       core i5|        4|          8|        16|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0| 66845.15820895522|
|   20|  wings|Wings Nuvobook V1...| 27990|    56|          intel|       core i5|        4|          8|         8|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1080|             1920|windows|               1|          0| 66845.15820895522|
|   26|   acer|Acer Nitro V ANV1...| 77990|    63|          intel|       core i5|        8|         12|        16|                 SSD|                     512|  No secondary storage|                         0|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|               1|          0| 66845.15820895522|
|   28|ultimus|Ultimus Elite NU1...| 19990|    54|          intel|       core i5|        4|          8|         8|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        14.1|            1920|             1080|windows|               1|          0| 66845.15820895522|
|   30|     hp|HP Pavilion 15-eg...| 71999|    66|          intel|       core i5|       12|         16|        16|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0| 66845.15820895522|
|   32|samsung|Samsung Galaxy Bo...| 44990|    59|          intel|       core i5|       10|         12|         8|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0| 66845.15820895522|
+-----+-------+--------------------+------+------+---------------+--------------+---------+-----------+----------+--------------------+------------------------+----------------------+--------------------------+---------+----------+---------------+------------+----------------+-----------------+-------+----------------+-----------+------------------+

In [82]:
# 19 
spark.sql('''
    WITH data_temp AS (
        SELECT 
            brand
            ,avg(price) AS price_avg       
        FROM DATA
        GROUP BY brand
    )    
    SELECT 
        DATA.*
        ,d.price_avg
    FROM data_temp AS d
    join DATA 
    ON  d.brand == DATA.brand
''') \
    .show(20)

+-----+---------+--------------------+------+------+---------------+--------------+---------+-----------+----------+--------------------+------------------------+----------------------+--------------------------+---------+----------+---------------+------------+----------------+-----------------+-------+----------------+-----------+------------------+
|index|    brand|               Model| Price|Rating|processor_brand|processor_tier|num_cores|num_threads|ram_memory|primary_storage_type|primary_storage_capacity|secondary_storage_type|secondary_storage_capacity|gpu_brand|  gpu_type|is_touch_screen|display_size|resolution_width|resolution_height|     OS|year_of_warranty|pattern_res|         price_avg|
+-----+---------+--------------------+------+------+---------------+--------------+---------+-----------+----------+--------------------+------------------------+----------------------+--------------------------+---------+----------+---------------+------------+----------------+-----------------+-------+----------------+-----------+------------------+
|    6|    apple|Apple MacBook Air...| 70990|    45|          apple|            m1|        8|          8|         8|                 SSD|                     256|  No secondary storage|                         0|    apple|     apple|          false|        13.3|            2560|             1600|    mac|               1|      Apple|193875.33333333334|
|   23|    apple|Apple MacBook Pro...|399900|    65|          apple|            m3|       16|         16|         8|                 SSD|                    1024|  No secondary storage|                         0|    apple|     apple|          false|        16.2|            3456|             2234|    mac|               1|      Apple|193875.33333333334|
|   36|    apple|Apple MacBook Air...|102990|    48|          apple|            m2|        8|          8|         8|                 SSD|                     256|  No secondary storage|                         0|    apple|     apple|          false|        13.6|            2560|             1664|    mac|               1|      Apple|193875.33333333334|
|   73|    apple|Apple MacBook Air...|119990|    53|          apple|            m2|        8|          8|         8|                 SSD|                     256|  No secondary storage|                         0|    apple|     apple|          false|        15.3|            2880|             1864|    mac|               1|      Apple|193875.33333333334|
|   11|     dell|Dell Inspiron 352...| 34990|    60|          intel|       core i3|        6|          8|         8|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0| 101701.1320754717|
|   37|     dell|Dell G15-5520 Lap...| 68239|    66|          intel|       core i5|       12|         16|        16|                 SSD|                     512|  No secondary storage|                         0|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|               1|          0| 101701.1320754717|
|   48|     dell|Dell G15-5530 GN5...| 81290|    71|          intel|       core i5|       10|         16|        16|                 SSD|                     512|  No secondary storage|                         0|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|               1|          0| 101701.1320754717|
|   53|     dell|Dell Vostro 3425 ...| 39649|    66|            amd|       ryzen 5|        6|         12|         8|                 SSD|                     512|  No secondary storage|                         0|      amd|integrated|          false|        14.0|            1920|             1080|windows|               1|        AMD| 101701.1320754717|
|   64|     dell|Dell Inspiron 543...| 86490|    66|          intel|       core i7|       12|         16|        16|                 SSD|                    1024|  No secondary storage|                         0|    intel|integrated|          false|        14.0|            1920|             1200|windows|               1|          0| 101701.1320754717|
|   67|     dell|Dell Inspiron 563...| 72490|    70|          intel|       core i5|       12|         16|        16|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        16.0|            2560|             1600|windows|               1|          0| 101701.1320754717|
|   77|     dell|Dell Inspiron 352...| 50000|    60|          intel|       core i5|       10|         12|         8|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0| 101701.1320754717|
|   85|     dell|Dell G15-5530 Gam...| 83990|    72|          intel|       core i5|       10|         16|        16|                 SSD|                    1024|  No secondary storage|                         0|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|               1|          0| 101701.1320754717|
|   76|primebook|Primebook 4G Andr...| 14990|    26|          other|         other|        8|          0|         4|                 HDD|                      64|  No secondary storage|                         0|      arm|integrated|          false|        11.6|            1366|              768|android|               1|          0|           13990.0|
|    4|     acer|Acer Extensa EX21...| 39990|    62|          intel|       core i5|       12|         16|         8|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        14.0|            1920|             1080|windows|               1|          0| 62847.87640449438|
|   26|     acer|Acer Nitro V ANV1...| 77990|    63|          intel|       core i5|        8|         12|        16|                 SSD|                     512|  No secondary storage|                         0|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|               1|          0| 62847.87640449438|
|   38|     acer|Acer Aspire Lite ...| 46990|    64|          intel|       core i5|       10|         12|        16|                 SSD|                    1024|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0| 62847.87640449438|
|   39|     acer|Acer Aspire Lite ...| 34990|    60|          intel|       core i3|        6|          8|        16|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0| 62847.87640449438|
|   57|     acer|Acer Aspire Lite ...| 32990|    58|          intel|       core i3|        6|          8|         8|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0| 62847.87640449438|
|   78|     acer|Acer Aspire 5 A51...| 56990|    71|          intel|       core i5|       12|         16|        16|                 SSD|                     512|  No secondary storage|                         0|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|               1|          0| 62847.87640449438|
|   20|    wings|Wings Nuvobook V1...| 27990|    56|          intel|       core i5|        4|          8|         8|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1080|             1920|windows|               1|          0|           29990.0|
+-----+---------+--------------------+------+------+---------------+--------------+---------+-----------+----------+--------------------+------------------------+----------------------+--------------------------+---------+----------+---------------+------------+----------------+-----------------+-------+----------------+-----------+------------------+

In [83]:
# 20 
spark.sql('''
    WITH data_temp AS (
        SELECT 
            brand
            ,avg(rating) AS rating_avg       
        FROM DATA
        GROUP BY brand
    )    
    SELECT 
        DATA.*
        ,d.rating_avg
    FROM data_temp AS d
    join DATA 
    ON  d.brand == DATA.brand
''') \
    .show(20)

+-----+---------+--------------------+------+------+---------------+--------------+---------+-----------+----------+--------------------+------------------------+----------------------+--------------------------+---------+----------+---------------+------------+----------------+-----------------+-------+----------------+-----------+-----------------+
|index|    brand|               Model| Price|Rating|processor_brand|processor_tier|num_cores|num_threads|ram_memory|primary_storage_type|primary_storage_capacity|secondary_storage_type|secondary_storage_capacity|gpu_brand|  gpu_type|is_touch_screen|display_size|resolution_width|resolution_height|     OS|year_of_warranty|pattern_res|       rating_avg|
+-----+---------+--------------------+------+------+---------------+--------------+---------+-----------+----------+--------------------+------------------------+----------------------+--------------------------+---------+----------+---------------+------------+----------------+-----------------+-------+----------------+-----------+-----------------+
|    6|    apple|Apple MacBook Air...| 70990|    45|          apple|            m1|        8|          8|         8|                 SSD|                     256|  No secondary storage|                         0|    apple|     apple|          false|        13.3|            2560|             1600|    mac|               1|      Apple|53.53333333333333|
|   23|    apple|Apple MacBook Pro...|399900|    65|          apple|            m3|       16|         16|         8|                 SSD|                    1024|  No secondary storage|                         0|    apple|     apple|          false|        16.2|            3456|             2234|    mac|               1|      Apple|53.53333333333333|
|   36|    apple|Apple MacBook Air...|102990|    48|          apple|            m2|        8|          8|         8|                 SSD|                     256|  No secondary storage|                         0|    apple|     apple|          false|        13.6|            2560|             1664|    mac|               1|      Apple|53.53333333333333|
|   73|    apple|Apple MacBook Air...|119990|    53|          apple|            m2|        8|          8|         8|                 SSD|                     256|  No secondary storage|                         0|    apple|     apple|          false|        15.3|            2880|             1864|    mac|               1|      Apple|53.53333333333333|
|   11|     dell|Dell Inspiron 352...| 34990|    60|          intel|       core i3|        6|          8|         8|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0|64.60377358490567|
|   37|     dell|Dell G15-5520 Lap...| 68239|    66|          intel|       core i5|       12|         16|        16|                 SSD|                     512|  No secondary storage|                         0|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|               1|          0|64.60377358490567|
|   48|     dell|Dell G15-5530 GN5...| 81290|    71|          intel|       core i5|       10|         16|        16|                 SSD|                     512|  No secondary storage|                         0|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|               1|          0|64.60377358490567|
|   53|     dell|Dell Vostro 3425 ...| 39649|    66|            amd|       ryzen 5|        6|         12|         8|                 SSD|                     512|  No secondary storage|                         0|      amd|integrated|          false|        14.0|            1920|             1080|windows|               1|        AMD|64.60377358490567|
|   64|     dell|Dell Inspiron 543...| 86490|    66|          intel|       core i7|       12|         16|        16|                 SSD|                    1024|  No secondary storage|                         0|    intel|integrated|          false|        14.0|            1920|             1200|windows|               1|          0|64.60377358490567|
|   67|     dell|Dell Inspiron 563...| 72490|    70|          intel|       core i5|       12|         16|        16|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        16.0|            2560|             1600|windows|               1|          0|64.60377358490567|
|   77|     dell|Dell Inspiron 352...| 50000|    60|          intel|       core i5|       10|         12|         8|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0|64.60377358490567|
|   85|     dell|Dell G15-5530 Gam...| 83990|    72|          intel|       core i5|       10|         16|        16|                 SSD|                    1024|  No secondary storage|                         0|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|               1|          0|64.60377358490567|
|   76|primebook|Primebook 4G Andr...| 14990|    26|          other|         other|        8|          0|         4|                 HDD|                      64|  No secondary storage|                         0|      arm|integrated|          false|        11.6|            1366|              768|android|               1|          0|             28.5|
|    4|     acer|Acer Extensa EX21...| 39990|    62|          intel|       core i5|       12|         16|         8|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        14.0|            1920|             1080|windows|               1|          0| 61.7752808988764|
|   26|     acer|Acer Nitro V ANV1...| 77990|    63|          intel|       core i5|        8|         12|        16|                 SSD|                     512|  No secondary storage|                         0|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|               1|          0| 61.7752808988764|
|   38|     acer|Acer Aspire Lite ...| 46990|    64|          intel|       core i5|       10|         12|        16|                 SSD|                    1024|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0| 61.7752808988764|
|   39|     acer|Acer Aspire Lite ...| 34990|    60|          intel|       core i3|        6|          8|        16|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0| 61.7752808988764|
|   57|     acer|Acer Aspire Lite ...| 32990|    58|          intel|       core i3|        6|          8|         8|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1920|             1080|windows|               1|          0| 61.7752808988764|
|   78|     acer|Acer Aspire 5 A51...| 56990|    71|          intel|       core i5|       12|         16|        16|                 SSD|                     512|  No secondary storage|                         0|   nvidia| dedicated|          false|        15.6|            1920|             1080|windows|               1|          0| 61.7752808988764|
|   20|    wings|Wings Nuvobook V1...| 27990|    56|          intel|       core i5|        4|          8|         8|                 SSD|                     512|  No secondary storage|                         0|    intel|integrated|          false|        15.6|            1080|             1920|windows|               1|          0|             53.5|
+-----+---------+--------------------+------+------+---------------+--------------+---------+-----------+----------+--------------------+------------------------+----------------------+--------------------------+---------+----------+---------------+------------+----------------+-----------------+-------+----------------+-----------+-----------------+

In [86]:
# 21 
spark.sql('''
        SELECT 
            brand
            ,ROUND(avg(rating),2) AS rating_avg       
        FROM DATA
        GROUP BY brand
        ORDER BY rating_avg

''') \
    .show(20)

+---------+----------+
|    brand|rating_avg|
+---------+----------+
|      jio|      24.0|
|primebook|      28.5|
|   walker|      37.0|
|      axl|      37.5|
|    iball|      41.0|
|  ultimus|      47.5|
|    avita|      48.2|
|    chuwi|      51.0|
|    wings|      53.5|
|    apple|     53.53|
|   realme|      57.0|
|  infinix|     57.23|
|microsoft|      59.0|
|  samsung|     61.71|
|     acer|     61.78|
|    honor|      62.5|
|   lenovo|     62.55|
|       hp|     64.49|
|     dell|      64.6|
|zebronics|     64.86|
+---------+----------+

In [92]:
# 22 
spark.sql('''
    SELECT 
        brand,
        ROUND(MAX(price), 2) AS price_max
    FROM 
        DATA
    GROUP BY 
        brand
    ORDER BY 
        price_max;

''') \
    .show(20)

+---------+---------+
|    brand|price_max|
+---------+---------+
|    iball|     9800|
|      jio|    14701|
|primebook|    14990|
|   walker|    15990|
|      axl|    17990|
|  ultimus|    22913|
|    avita|    32949|
|    chuwi|    34990|
|    tecno|    35990|
|    wings|    39990|
|   realme|    42990|
|zebronics|    52990|
|    honor|    54990|
|  infinix|    59990|
| gigabyte|    89990|
|microsoft|    97490|
|  fujitsu|   109990|
|  samsung|   116990|
|       lg|   152499|
|     acer|   249990|
+---------+---------+